*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'GT Walsheim Pro REGULAR';
    src: url('../../../assets/font/GTWalsheimPro-Bold.woff2');
}

@font-face {
    font-family: 'GT Walsheim Pro BOLD';
    src: url('../../../assets/font/GTWalsheimPro-Black.woff2');
    font-weight: 300;
}

@font-face {
    font-family: 'GT Walsheim Pro THIN';
    src: url('../../../assets/font/GTWalsheimPro-Light.woff2');
    font-weight: 300;
}

@font-face {
    font-family: 'GT Walsheim Pro THIN2';
    src: url('../../../assets/font/GTWalsheimPro-UltraLight.woff2');
    font-weight: 300;
}

body{
  background-color: #0f1011;
}


.Top {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0px 20px;
}

.TopLeft {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
 
}

.TopLeft h2{
    transition: color 0.3s ease;
}

.TopLeft svg{
    transition: fill 0.3s ease;
}

.TopLeft:hover h2,
.TopLeft:hover svg {
    color: #1aada6;   
    fill: #1aada6;   
}
.TopRight {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;  
    text-align: right;
    padding: 0px 20px;
}
 

.TopLeft h2, svg{
color: #cccccc;
font-family: 'GT Walsheim Pro REGULAR';
fill: #cccccc;
}
 

.TopRight h1{
color: white;
font-size: 3.3rem;
font-family: 'GT Walsheim Pro BOLD';
}

 .Below{
    display: flex;
    gap: 50px;
    padding: 20px;
 }
 
 
 
.ImageContainer{
    position: relative;
    max-width: 1500px;
    height: 80vh;
    padding-bottom: 10px;
    overflow: hidden;
}

@media(max-width:880px){
    .Below{
        display: flex;
        flex-direction: column;
        align-items: stretch
    }

    .BelowRight{
      gap: 20px;
      flex-grow: 1;
    }

    .TopRight h1{
        white-space: nowrap;
        font-size: 2rem;
    }

 
}

.DotsContainer{
    background-color: #111111;
    width: 170px;
    height: 35px;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 10px;
}

.Dot {
    width: 55px;
    height: 9px;
    background-color: grey;
    border-radius: 5px;
    transform: scale(1);
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.ActiveDot {
    background-color: #1aada6;
    transform: scale(1.5);
}

.NextActiveDot {
    transform: scale(0.5);
    transition: transform 0.3s ease;
}

.ImageContainer img{
    object-fit: cover;
    max-width: 100%;
    height: 100%;
    border-radius: 30px;
    transition: transform 0.5s ease-in-out;
}


@media(max-width:880px){
    .ImageContainer{
         height: 60%;
         margin-bottom: -50px;
    }
}

.MoveImageRight{
    transform: translateX(100%);
}

.MoveImageRight{
    transform: translateX(-100%);
}

.ImageContainer svg{
    position: absolute;
    top: 50%;
    cursor: pointer;
    
}

.ImageContainer svg:last-of-type{
   right: 5px;
}

 
.BelowRight{
    display: flex;
    flex-direction: column;
    padding: 0px 40px;
    padding-bottom: 10px;
}

.GameDescriptionContainer{
    background-color: #191919;
    max-width: 550px;
    min-width: 350px;
    padding: 20px 15px;
    border-radius: 15px;
    mask-image: linear-gradient(to bottom, black 70%, transparent);
    overflow: hidden;
    max-height: 28vh;
    scrollbar-width: none;
}

@media(max-width:880px){
    .GameDescriptionContainer{
        max-width:100%;
        order: 2;
    }

    .BelowRight{
        padding: 0px;
    }
 
}

.GameDescriptionContainer:hover{
    overflow-y: auto;
}

.GameDescriptionContainer h2{
    color: white;
    font-family: 'GT Walsheim Pro REGULAR';
    margin-bottom: 10px;
}

.GameDescriptionContainer p{
    color: #f5efef;
    font-family: 'GT Walsheim Pro THIN';
    font-size: 1.1em;
}

.MoreContainer{
    background-color: #242424;
    color: #cccccc;
    font-family: 'GT Walsheim Pro THIN2';
    gap: 10px;
    padding: 20px 20px;
    border-radius: 9px;
    mask-image: linear-gradient(to top, black 80%, transparent);
 
}

.MoreTop{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: 'GT Walsheim Pro THIN2';
    font-size: 0.9rem;
    display: none;
}

.MoreTop a{
    text-decoration: none;
    color: inherit;
    font-size: 1.2rem;
    font-weight: bold;
    display: inline-block;
}

.More{
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: end;
    cursor: pointer;
}

.ChevronDown{
        transform: rotate(0deg);
        transition-duration: 0.5s;
}

.ChevronUp{
    transform: rotate(180deg);
    transition-duration: 0.5s;
}

.AddToCartContainer{
    background-color: #242424;
    color: white;
    font-family: 'GT Walsheim Pro REGULAR';
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    margin-top: auto;
    border-radius: 10px;
     
}

.AlreadyAdded{
    background-color: #1d1c1c93;
    color: #1aada6;
    font-family: 'GT Walsheim Pro REGULAR';
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    margin-top: auto;
    border-radius: 10px;
}

.AlreadyAdded h2{
    font-family: 'GT Walsheim Pro Bold';
}

.AlreadyAdded h3{
    color: white;
    
}

@media(max-width:880px){
    .AddToCartContainer{
        order: 1;
    }
    .GameContainerDescription{
        order: 2;
    }

    .MoreContainer{
        order: 3;
    }
    
}

.AddToCartContainer h2{
    cursor: pointer;
}
 
 

 


 
 