*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.PageContainer{
    display: flex;
    flex-direction: column;
  
}

@font-face {
    font-family: 'GT Walsheim Pro REGULAR';
    src: url('../../../assets/font/GTWalsheimPro-Regular.woff2');
}

@font-face {
    font-family: 'GT Walsheim Pro BOLD';
    src: url('../../../assets/font/GTWalsheimPro-Black.woff2');
    font-weight: 300;
}

@font-face {
    font-family: 'GT Walsheim Pro THIN';
    src: url('../../../assets/font/GTWalsheimPro-Light.woff2');
    font-weight: 300;
}

@font-face {
    font-family: 'GT Walsheim Pro THIN2';
    src: url('../../../assets/font/GTWalsheimPro-UltraLight.woff2');
    font-weight: 300;
}

body{
  background-color: #0f1011;
}

.PageContainer{
    display: flex;
    flex-direction: column;
}

.Top{
    display: flex;
    justify-content: space-between;
    padding: 0px 40px;
    margin-bottom: 20px;
  
}

.TopLeft{
    display: flex;
    align-items: center;
    font-family: 'GT Walsheim Pro THIN';
    color: #cccccc;
    cursor: pointer;
    gap: 10px;
}

.TopLeft h2{
    transition: color 0.3s ease;
}

.TopLeft svg{
    transition: fill 0.3s ease;
}

.TopLeft:hover h2,
.TopLeft:hover svg {
    color: #1aada6;   
    fill: #1aada6;   
}

.TopRight{
    font-family: 'GT Walsheim Pro BOLD';
    color: white;
    font-size: 1.5rem;
    text-align: right;
    
}
@media(max-width:902px){
    .TopRight h1{
    max-width: 560px;    
}
}

.Bottom{
    display: flex;
    justify-content: space-between;
    padding: 0px 30px;
    gap: 30px;
  
}

.ImageContainer{
    position: relative;
    width: 100%;
    max-width: 1340px;
    min-width: 400px;
    height: 78vh;
}

.ImageContainer img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.ImageContainer svg{
    position: absolute;
    top: 50%;
    cursor: pointer;
}

.ImageContainer svg:last-of-type{
    right: 5px;
}


.BottomRight{
       display: flex;
       flex-direction: column;
 
}

.GameDescContainer{
    background-color: #191919;
    padding: 10px;
    border-radius: 10px;
    mask-image: linear-gradient(to bottom, black 70%, transparent);
    scrollbar-width: none;
    overflow: hidden;
    height: 190px;
}

.GameDescContainer:hover{
    overflow-y: auto;
}

.GameDescContainer h3{
    color: white;
    font-family: 'GT Walsheim Pro BOLD';
    margin-bottom: 10px;
    font-size: 1.3rem;
}

.GameDescContainer p{
    color: #dddadaa8;
    font-family: 'GT Walsheim Pro THIN';
    max-width: 460px;
}

.MoreContainer{
    background-color: #1a181813;
    color: #cccccc;
    font-family: 'GT Walsheim Pro THIN2';
    border-radius: 10px;
    padding: 10px;
    max-width: 450px;
    font-size: 0.9rem;
}

.MoreTop{
    display: none;
    flex-direction: column;
    gap: 10px;
    mask-image: linear-gradient(to top, rgb(26, 23, 23) 95%, transparent);
}

.MoreTop a{
    color: inherit;
    cursor: pointer;
    text-decoration: none;
}
.More{
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: end;
    cursor: pointer;
 }

.AddToCartContainer{
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #2424243d;
    color: white;
    font-family: 'GT Walsheim Pro REGULAR';
    padding: 15px;
    border-radius: 10px;
}

.GameAddedContainer{
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #2424243d;
    color: white;
    font-family: 'GT Walsheim Pro REGULAR';
    padding: 15px;
    border-radius: 10px;
}



.AddToCartContainer h2{
    cursor: pointer;
}


.DotsContainer{
    background-color: #111111;
    width: 170px;
    height: 35px;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 10px;
}

.Dot {
    width: 9px;
    height: 9px;
    background-color: grey;
    border-radius: 50%;
    transform: scale(1);
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.ActiveDot {
    background-color: #1aada6;
    transform: scale(1.5);
}

.NextActiveDot {
    transform: scale(0.5);
    transition: transform 0.3s ease;
}
 




 


 


 
 