*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

@font-face {
    font-family: 'GT Walsheim Pro BOLD';
    src:url('../../../assets/font/GTWalsheimPro-Black.woff2') format('woff2');
  }

  @font-face {
    font-family: 'GT Walsheim Pro REGULAR';
    src:url('../../../assets/font/GTWalsheimPro-Thin.woff2') format('woff2');
  }

  @font-face {
    font-family: 'GT Walsheim Pro Medium';
    src:url('../../../assets/font/GTWalsheimPro-Medium.woff2') format('woff2');
    font-style: 300;
  }


body{
    background-color: #0f1011;
}

.LeftColumn{
    color: white;
    font-family: 'GT Walsheim Pro Medium';
    padding: 33px; 
    display: flex;
    flex-direction: column;
    gap: 35px;
    width: 260px;
    position: sticky;
    top: 0;
    overflow-y: auto;
    height: 100vh;
    scrollbar-width: none;
}

.LeftColumn h1{
    font-size: 1.8rem;
    letter-spacing: 1px;
    margin-bottom: 15px;
    font-family: 'GT Walsheim Pro Medium';
}

.IconContainer{
    background-color: #202020;
    padding: 6px;
    border-radius: 7px;
    transition: background-color 0.3s ease-out;
}

.LeftColumn svg{
    padding: 1.9px;
    display: flex;
    align-items: center;
    transition: fill 0.3s ease-out;
}

.LeftColumn h3{
    font-family: 'GT Walsheim Pro REGULAR';
    font-size: 1.1rem;
}

.YourGamesList{
    display: flex;
   align-items: center;
    gap: 20px;
}

.ReleaseList{
display: flex;
flex-direction: column;
gap: 10px;
}

 .Test{
    display: flex;
    align-items: center;
    gap: 20px;
 }


 .Test:hover{
      cursor: pointer;
 }

 .Test:hover svg{
    fill: black;
 }

 .Test:hover .IconContainer{
    background-color: white;
 }
 

 .Fire{
    padding: 2.5px 7px;
    border-radius: 7px;
}

.Fire svg{
    padding: 4px;
}

.Skip,.Rating,.Crown{
    padding: 10px 7px;
}


.Playstation,.Nintendo,.Action{
    padding: 8px 7px;
}

.Strategy{
    padding: 5px 7px;
}

.Strategy svg{
    padding: 4px;
}
 