*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

  @font-face {
    font-family: 'GT Walsheim Pro REGULAR';
    src:url('../assets/font/GTWalsheimPro-Light.woff2') format('woff2');
    font-weight: 300;
  }

  body{
    background-color: #0f1011;
  }

  .HeaderContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'GT Walsheim Pro REGULAR';
    gap: 20px;
    padding: 22px 40px;
  }

  .LeftSide{
    display: flex;
    align-items: center;
    color: white;
    gap: 13px;
    transition: transform 0.3s ease;
  }

  .LeftSide h1{
    font-size: 1.7rem;
    letter-spacing: 1px;
  }

  .LeftSide img{
    width: 50px;
    height: auto;
  }

  .LeftSide:hover{
    cursor: pointer;
    transform: scale(1.1);
}

  @media(max-width:790px){
    .LeftSide h1{
      display: none;

    }
  }

  .SearchBarContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    background-color: white;
    width: 340px;
    padding: 6px;
    border-radius: 10px;
    margin-right: 20px;
    transition: width 0.2s ease-out;
  }

  @keyframes bounce{
    0%{width: 340px;}
    70%{width: 550px;}
    100%{width: 530px;}
  }

  .SearchBarContainer:focus-within{
    width: 530px;
    animation: bounce 0.5s ease

  }

  

  .SearchBarContainer input,.SearchBarContainer input:focus{
    border: none;
    outline: none;
    flex: 1;
    font-size: 1.1rem;
    padding-left: 10px;
  }


 






 

 

 