*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

  @font-face {
    font-family: 'GT Walsheim Pro REGULAR';
    src:url('../assets/font/GTWalsheimPro-Black.woff2') format('woff2');
    font-weight: 300;
  }


  .HeaderContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
}

.HeaderContainer img{
    width: 55px;
}


.LeftSide{
    display: flex;
    align-items: center;
    gap: 20px;
    color: white;
    font-family: 'GT Walsheim Pro REGULAR';
    transition: transform 0.3s;
}

.LeftSide:hover{
    cursor: pointer;
    transform: scale(1.1);
}


@media(max-width:579px){
    .HeaderTitle{
           display: none
        }

    .HeaderContainer{
        margin: -10px;
    }
}


.SearchBarContainer{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 16%;
    border-radius: 10px;
    height: 35px;
    overflow: hidden;
    transition: min-width 0.2s ease-out;
}

.SearchBarContainer:focus-within{
    min-width: 20%;
}

@media(max-width:1600px){
    .SearchBarContainer:focus-within{
        min-width: 32%;
    }
}

@media(max-width :900px){
    
        .SearchBarContainer:focus-within{
            min-width: 50%;
        }
   
}

@media(max-width :570px){
    
    .SearchBarContainer:focus-within{
        min-width: 80%;
    }

}
 
 
.SearchBarContainer input{
    border: none;
    flex: 1;
    padding: 10px;
    font-size: 1rem;
    height: 30px;
}

.SearchBarContainer input:focus{
    border: none;
    outline: none;
}

.SearchBarContainer img{
    margin-right: 10px;
    width: 20px;   
}
