*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'GT Walsheim Pro THIN';
    src: url('../assets/font/GTWalsheimPro-Thin.woff2');
}


@font-face {
    font-family: 'GT Walsheim Pro BOLD';
    src: url('../assets/font/GTWalsheimPro-Bold.woff2');
    font-weight: 300;
}


 

.ModalBTN{
    padding: 10px 10px;
    border-radius: 5px;
   background-color: lightblue;

}
 
.Modal, .Overlay{
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

.Overlay{
    background: hsla(0, 0%, 3%, 0.568);
}

 

@keyframes Slide{

    from{
        transform: translateX(300px);
    }

    to{
        transform: translateX(0);
    }
    

}

.Modal{
    z-index: 1000; /* to make the modal goes over the*/
}

.ModalContent{
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: #202020;
    height: 100vh;
    right: 0;
    width: 400px;
    padding: 40px 40px;
    animation: Slide 0.5s ease;
    font-family: 'GT Walsheim Pro BOLD';
    overflow-y: auto;
    scrollbar-width: none;
}

@keyframes Slide{
    from{
        transform: translateX(300px);
    }

    to{
        transform: translateX(0px);
    }
}


.Top{
    display: flex;
    justify-content: space-between;
    color: white;
    gap: 20px;
    margin-bottom: 30px;
}


.Top h3:first-of-type{
    cursor: pointer;
}

.Top  h3,.Top h4{
    color: #858585;
    font-family: 'GT Walsheim Pro THIN';
    
}

.ModalContent h3{
    margin-top: auto;
}


.ModalGamesContainer{
display: flex;
flex-direction: column;
gap: 20px;
margin-bottom: 10px;
}

.ModalGame{
    background-color: #31303079;
}

.GameInfo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.RightSide{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'GT Walsheim pro Thin';
    color: white;
    outline: red solid;
    width: 120px;
    gap: 10px;
}

.RightSide button{
    align-self: flex-end;
}

.RightSide p{
    text-align: center;
    font-size: 1.3rem;
    font-weight: bold;

}


 
.DeleteGame{
    background-color: rgba(0, 0, 0, 0.5);
    color: #f10c0c;
    outline: none;
    border: none;
    padding: 5px 9px;
    border-radius: 50%;
    cursor: pointer;
}
.ImageContainer{
    width: 100px;
    height: 100px;
    overflow: hidden;
}

.ImageContainer img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}


 