*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'GT Walsheim Pro THIN';
    src: url('../assets/font/GTWalsheimPro-Regular.woff2');
}


@font-face {
    font-family: 'GT Walsheim Pro BOLD';
    src: url('../assets/font/GTWalsheimPro-Bold.woff2');
    font-weight: 300;
}


@font-face {
    font-family: 'GT Walsheim Pro LIGHT';
    src: url('../assets/font/GTWalsheimPro-UltraLight.woff2');
  
}


 

.ModalBTN{
    padding: 10px 10px;
    border-radius: 5px;
   background-color: lightblue;

}
 
.Modal, .Overlay{
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

.Overlay{
    background: hsla(0, 0%, 3%, 0.568);
}

@keyframes Slide{

    from{
        transform: translateX(300px);
    }

    to{
        transform: translateX(0);
    }
    
}

.Modal{
    z-index: 1000; /* to make the modal goes over the*/
}

.ModalContent{
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: --98;
    background-color: #202020;
    height: 100vh;
    right: 0;
    width: 400px;
    animation: Slide 0.5s ease;
    overflow-y: auto;
    scrollbar-width: none;
     
}

.Top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
}
.Top>div:first-child{
   color: white;
   font-size: 1.7rem;
   font-family: 'GT Walsheim Pro BOLD';
}
.Top>div:last-child{
    color: #999999;
    font-family: 'GT Walsheim Pro THIN';
    font-size: 1.1rem;
    cursor: pointer;
}

 
.Total{
    margin-top: auto;
    padding: 35px;
    color: #999999;
    font-family: 'GT Walsheim PRO LIGHT';
    font-size: 1.2rem;
}

.ModalGamesContainer{
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}

.ModalGame{
    background-color: #272727;
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
    padding:  15px 10px;
    border-radius: 10px;
}


.ModalGameTop{
    display: flex;
    justify-content: end;
}

button{
    background-color: #0f1011;
    color: #999999;
    font-size: 1rem;
    padding: 2px 6px;
    border-radius: 50%;
    
    outline: none;
    border: none;
    cursor: pointer;
 
}

.GameImageContainer{
    min-width: 150px;
    height: 100px;
   
}

.GameImageContainer img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.ModalGameBottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.GameInfo{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 1.2rem;
}

.GameInfo>div:first-child{
    color: white;
    font-family: 'GT Walsheim Pro THIN';
}
.GameInfo>div:last-child{
    margin-left: 60px;
    color: #999999;
    font-family: 'GT Walsheim Pro THIN';
}

.GameNme{
    margin-left: auto;
}

 

 
 

 
 