@font-face {
  font-family: 'GT Walsheim Black';
  src:url('../../../assets/font/GTWalsheimPro-Light.woff2') format('woff2');
}

@font-face {
  font-family: 'GT Walsheim Thin';
  src:url('../../../assets/font/GTWalsheimPro-Thin.woff2') format('woff2');
}

@font-face {
  font-family: 'GT Walsheim Regular';
  src:url('../../../assets/font/GTWalsheimPro-Regular.woff2') format('woff2');
}


@font-face {
  font-family: 'GT Walsheim Bold';
  src:url('../../../assets/font/GTWalsheimPro-Bold.woff2') format('woff2');
}






*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 

.PageContainer{
  display: flex;
    color: white;
    gap: 35px;
}

.PageContainer h1{
  font-size: 4.1rem;
  font-family: "GT Walsheim Pro Bold";
}

.RightSideContainer{
display: flex;
flex-direction: column;
gap: 30px;
align-items: flex-start;
}

.SelectContainer{
  display: flex;
  gap: 10px;
  align-items: center;
  background-color: white;
  color: black;
  padding: 10px 10px;
  border-radius: 15px;
  font-family: 'GT Walsheim Regular';
  cursor: pointer;
}

.SelectContainer div{
font-size: 1.2rem;
}

.SelectContainer h3{
  font-family: 'GT Walsheim Bold';
}

/*select{
  font-size: 1.3rem;
  padding: 1em 5em 1em 1.5em;
  background: #4d5061;
  color: white;
  border: 0;
  cursor: pointer;
}

.CustomSelect{
position: relative;
}

.CustomArrow{
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  background-color: blue;
  height: 100%;
  width: 4rem;
  pointer-events: none;
}*/

.CustomDropDown{
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

.CustomDropDown>div{
  display: flex;
  transform: background-color 5s ease;
  cursor: pointer;
  min-width: 240px;
  font-size: 1.2rem;
  font-family: 'GT Walsheim Regular';
  justify-content: space-between;
  padding: 12px 15px;
}
 

 

.CustomDropDown>div:hover{
  background-color: #ebebeb;
   
}
 
.GameCardsContainer{
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  padding-right: 50px;
}
 

.GameCard{
  min-width: 410px;
  background-color: #202020;
  border-radius: 5%;
  transition: transform 0.4s ease-out;
  flex: 1;
}

.GameCard:hover{
 transform: scale(1.1);
}


.Top img{
  width: 100%;
  height: 23vh;
  object-fit: cover;
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
  cursor: pointer;
}

.GameCard .Below{
  display: flex;
  justify-content: space-between;
  font-family: "GT Walsheim Thin";
  color: #999999;
  font-size: 0.9rem;
   padding: 15px 25px;
}

.GameCard .Left{
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.GameCard .LeftTop{
  display: flex;
  align-items: center;
  cursor: pointer;
}

.GameCard .Platforms{
  display: flex;
  align-items: center;
  gap: 10px;
}

.GameCard .Below .Platforms svg{
   width: 15px;
}

.GameCard h2{
  color: white;
  font-size: 1.6rem;
  font-family: 'GT Walsheim Black';
  cursor: pointer;
}

 
