@font-face {
  font-family: 'GT Walsheim Black';
  src:url('../../../assets/font/GTWalsheimPro-Light.woff2') format('woff2');
}

@font-face {
  font-family: 'GT Walsheim Thin';
  src:url('../../../assets/font/GTWalsheimPro-Thin.woff2') format('woff2');
}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 

.PageContainer{
  display: flex;
    color: white;
    gap: 35px;
}

.PageContainer h1{
  font-size: 4.1rem;
  font-family: "GT Walsheim Pro Bold";
}

 
.RightSideContainer{
  display: flex;
  flex-direction: column;
  gap: 30px;
}

 
 
.GameCardsContainer{
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
 
  padding-right: 50px;
}
 

.GameCard{
  min-width: 410px;
  background-color: #202020;
  border-radius: 5%;
  transition: transform 0.4s ease-out;
  flex: 1;
}

.GameCard:hover{
 transform: scale(1.1);
}


.Top img{
  width: 100%;
  height: 25vh;
  object-fit: cover;
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
  cursor: pointer;
}

.GameCard .Below{
  display: flex;
  justify-content: space-between;
  font-family: "GT Walsheim Thin";
  color: #999999;
  font-size: 0.9rem;
   padding: 15px 25px;
}

.GameCard .Left{
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.GameCard .LeftTop{
  display: flex;
  align-items: center;
  cursor: pointer;
}

.GameCard .Platforms{
  display: flex;
  align-items: center;
  gap: 10px;
}

.GameCard .Below .Platforms svg{
   width: 15px;
}

.GameCard h2{
  color: white;
  font-size: 1.6rem;
  font-family: 'GT Walsheim Black';
  cursor: pointer;
}
