*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.PageContainer{
    display: flex;
    flex-direction: column;
    position: relative;;

}

.BackgroundVideo{
    position: fixed;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
}

 