 
@font-face {
    font-family: 'GT Walsheim Pro';
    src:url('../../../assets/font/GTWalsheimPro-Regular.woff2') format('woff2');
    font-weight: 300;
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.VideoContainer{
position: relative;
width: 100%;
height: 100vh;
overflow: hidden;
}

.BackgroundVideo{
position: absolute;
width: 100%;
height: 100%;
object-fit: cover;
z-index: -1;
}